name: SFS Auto PR
on:
  push:
    branches-ignore: [main]
jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            const { repo, owner } = context.repo
            const head = context.ref.replace('refs/heads/','')
            await github.pulls.create({
              owner, repo,
              head,
              base: 'main',
              title: `auto: merge ${head}`,
              body: 'Automated SmartFlow PR'
            })
